.disabled {
    background: #96caf8 !important;
}

.pagination li {
    display: inline;
    margin: 2px 9px;
    background: #347ab6;
    padding: 5px 12px;
    border-radius: 4px;
    color: white;
}

.pagination .active {
    background: #1364ff;  
}