.disabled {
    background:  var(--light-main-color) !important;
}

.pagination li {
    display: inline;
    margin: 2px 9px;
    background: var(--main-color);
    padding: 5px 12px;
    border-radius: 4px;
    color: white;
}

.pagination .active {
    background: #1364ff;
}