.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    width: 30%;
    font-weight: bold;
    padding: 4px;
}

.titulo{
    background: gray;
    color: white;
}

.elemento:nth-child(odd) {
    background: rgb(223, 223, 223);
}

.painel {
    margin: 0 10%;
}