.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 30%;
    font-weight: bold;
    padding: 4px;
}

.col-det {
    width: 10;
    font-weight: bold;
    padding: 4px;
}

.titulo {
    background: var(--main-color);
    color: white;
}

.elemento:nth-child(odd) {
    background: rgb(223, 223, 223);
}