<section class="painel">
    <div class="row ">
        <h2 class="col">Listar Processo</h2>
        <div class="col"></div>
        <h2 class="col ">
            <a class="btn-1" href="cadastrar-processo">
                <mat-icon>save</mat-icon>
                cadastrar
            </a>
        </h2>
    </div>

    <section>
        <div class="row titulo">
            <div class="col">npu</div>
            <div class="col">data de cadastro </div>
            <div class="col">UF do processo</div>
            <div class="col-det">
                ver
            </div>
        </div>
        <mat-progress-bar *ngIf="procurando" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="processos.length > 0; else semProcessos">
            @for (processo of processos; track processo) {
            <div class="row elemento">
                <div class="col">{{processo.npu}}</div>
                <div class="col">{{processo.dataCadastro | date:'dd/MM/yy HH:mm' }}</div>
                <div class="col">{{processo.uf}}</div>
                <div class="col-det">
                    <a class="btn-1" [routerLink]="['/ler-processo', processo.id]">
                        <mat-icon>find_in_page</mat-icon>
                    </a>
                </div>
            </div>
            }
            <app-pagination [pager]="pager" (paginationEmmiter)="setPageofClientes($event)">
            </app-pagination>
        </div>
        <ng-template #semProcessos>
            <div class="row elemento">
                Não Há Registros
            </div>
        </ng-template>

    </section>

</section>